@use "../../../vars.scss" as v;
.secContent1 {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10%;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 1.1rem;
      color: v.$secondaryFont;
    }
  }
  &__galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    figure {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 400px;
      gap: 10px;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      figcaption {
        width: 100%;
        height: 200px;
        p {
          font-size: 1.2rem;
          color: v.$secondaryFont;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .secContent1 {
    &__text {
      h2 {
        font-size: 50px;
      }
    }
    &__galery {
      figure {
        width: 250px;
        figcaption {
          p {
            font-size: 1rem;
            text-align: start;
          }
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  .secContent1 {
    padding: 0 9%;
    &__text {
      h2 {
        font-size: 80px;
      }
      p {
        width: 500px;
      }
    }
  }
}
